/*desktop: 992px and above*/
/*tablet: 768px and 991px*/
/*mobile: equal to or less than 767px*/
*
{
	background-color: grey;
	font-family: verdana;
	box-sizing: border-box;
}

h1
{
	text-align: center;
	margin-bottom: 30px;
}

h2
{
	padding: 3px;
	margin-top: 0;
}

p
{
	text-align: left;
	margin: 3px;
	padding: 10px 10px 10px 10px;
	overflow: auto;
	background-color: #FFA700;
	clear: right;
}
section
{
	
	margin: 10px;
	background-color: #FFA700;
	border: 1px solid black;
}

section>h2
{
	float: right;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	width: 230px;
	text-align: center;
}

.hsec1
{
	color: white;
	background-color: rgb(199, 10, 109);
}

.hsec2
{
	color: white ;
	background-color: rgb(97, 181, 228);
}

.hsec3
{
	color: white;
	background-color: rgb(40, 71, 136);
}
.row
{
	width: 100%;

}
@media (min-width: 992px)
{
	.sec-lg-1, .sec-lg-2, .sec-lg-3, .sec-lg-4, .sec-lg-5, .sec-lg-6, .sec-lg-7, .sec-lg-8, .sec-lg-9, .sec-lg-19, .sec-lg-10, .sec-lg-11, .sec-lg-12
	{
		float: left;
	}
	
	.sec-lg-4
	{
		width: 33.33%;
	}



}

@media (min-width: 768px ) and (max-width: 991px)
{
	.sec-md-1, .sec-md-2, .sec-md-3, .sec-md-4, .sec-md-5, .sec-md-6, .sec-md-7, .sec-md-8, .sec-md-9, .sec-md-10, .sec-md-11, .sec-md-12

	{
		float: left;
	}
	.sec-md-6
	{
		width: 50%;
	}

	.sec-md-12
	{
		width: 100%;
	}
}

@media (max-width: 767px)
{
	.sec-sm-1, .sec-sm-2, .sec-sm-3, .sec-sm-4, .sec-sm-5, .sec-sm-6, .sec-sm-7, .sec-sm-8, .sec-sm-9, .sec-sm-10, .sec-sm-11, .sec-sm-12
	{
		float: right;
	}

	.sec-sm-12
	{
		width:100%;
	}
}

